{% extends "base.html" %}

{% block content %}
  <div class="relative p-12">
    <div class="static font-lato text-4xl">I don’t just <span class="italic text-green-600">manage</span> your social <br> media presence, I <span class="italic text-green-600">write</span> too</div>
    <!-- blog related content here -->
    <div class="grid grid-cols-6 gap-12 py-12">

      <!-- blog posts -->
      <div class="static col-span-4">
        <h2 class="py-4">Read my latest blog posts</h2>
        <div class="row grid grid-cols-2 gap-12">
          {% for article in page_obj %}
            <div class="card bg-base-100 w-96 shadow-sm">
              <a href="{{ article.get_absolute_url }}">
                <figure>
                  <img
                    src="{{article.image}}"
                    alt="Shoes" />
                </figure>
                <div class="card-body">
                  <div>
                    {{article.created}}
                  </div>
                  <h2 class="card-title">
                    {{article.title}}
                    <div class="badge badge-secondary">NEW</div>
                  </h2>
                  <p>{{article.body | truncatewords:15}}</p>
                  <div class="card-actions justify-end">
                    <div class="flex-1"> Read Article </div>
                    <a class="flex-none hover:text-green-600" href="{{ article.get_absolute_url }}"> &rarr;</a>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>

        <!-- Pagination controls -->
        <nav class="pagination py-4" aria-label="Page navigation">
          <ul class="justify-self-end">
            {% if page_obj.has_previous %}
              <li class="page-item btn btn-circle step-links">
                <a class="page-link" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item btn btn-circle step-links">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&lsaquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item btn btn-circle step-links">
                <a class="page-link" href="#" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item btn btn-circle step-links">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&lsaquo;</span>
                </a>
              </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <li class="page-item btn btn-active btn-circle bg-green-600 step-links"><a class="page-link" href="#">{{ num }}</a></li>
              {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                <li class="page-item btn btn-circle step-links"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item btn btn-circle step-links">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&rsaquo;</span>
                </a>
              </li>
              <li class="page-item btn btn-circle step-links">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% else %}
              <li class="page-item btn btn-circle step-links">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&rsaquo;</span>
                </a>
              </li>
              <li class="page-item btn btn-circle step-links">
                <a class="page-link" href="#" aria-label="Last">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>           
            {% endif %}
          </ul>
        </nav>
      </div>  

      <!-- blog categories -->
      <div class="static col-span-2 pl-8">
        <h2 class="py-4">Top categories</h2>
        <ul class="row grid grid-cols-3 gap-2">
          {% for category in categories %}
            <li class="btn btn-outline rounded-full hover:bg-green-600 active:bg-green-600">{{ category.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    <div id="contact" class="static font-lato text-4xl pt-20">Want valuable <span class="italic text-green-600">insight</span> on social media trends <br> and lots more</div>
    <!-- Subscribe -->
    <div class="static pt-12"><input class="border-b-2 field-sizing-content pr-4" type="text" placeholder="Drop in your email to subscribe"/><a class="btn bg-green-600 rounded-full">Subscribe</a></div>
  </div>
  
{% endblock %}

