<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'styles.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=At+Hauss&display=swap" rel="stylesheet">
  <title>Adeyemi Odubeko</title>
</head>
<body>
  <div class="navbar bg-base-100" id="up">
    <div class="flex-1">
      <a class="btn btn-circle">AO</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 space-x-2">
        <li><a class="btn rounded-full active:bg-green-600">Portfolio</a></li>
        <li><a class="btn rounded-full active:bg-green-600">Blog</a></li>
        <li><a class="btn rounded-full active:bg-green-600">Contact</a></li>
      </ul>
    </div>
  </div>
  {% block content %}
  {% endblock %}
  <div class="pr-12 pl-12 pt-12 pb-4">
    <div class="static border-b-4"></div>
    <div class="footer footer-horizontal pt-4">
      <div class="grid-col-flow items-center">
        &copy; adeyemi odubeko 2024
      </div>
      <a class="grid-col-flow place-self-center justify-self-end" href="#up">
        Back up &uarr;
      </a>
    </div>
  </div>
</body>
</html>
